---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <section>
    <h2>Page Not Found</h2>
    <p>The requested page has not been found. Are you sure it should exist?</p>
  </section>
</Layout>
