---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
  <article>
    <h2>Imprint</h2>
    <h3>Information provided according to sec. 5 German Telemedia Act (TMG)</h3>
    <p>
      Florian Rappl<br />
      c/o smapiot GmbH<br />
      Konrad-Zuse-Platz 8<br />
      81829 Munich<br />
      Germany
    </p>
    <h3>Contact</h3>
    <p>
      Telephone:+49 (0) 152 540 93 90 3<br />
      E-Mail: munichjs@florian-rappl.de
    </p>
  </article>
</Layout>
