---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homepage">
  <section>
    <img src="/logo-transparent.png" alt="MunichJS Logo" />
  </section>
  <section>
    <h2>organized by</h2>
    <ul>
      <li>
        <a href="https://smapiot.com" target="_blank" rel="nofollow"
          ><img src="/smapiot.png" alt="smapiot Logo" /></a
        >
      </li>
    </ul>
  </section>
  <section>
    <h2>hosted by</h2>
    <ul>
      <li>
        <a href="https://www.alasco.de/en/" target="_blank" rel="nofollow"
          ><img src="/alasco.png" alt="Alasco Logo" /></a
        >
      </li>
      <li>
        <a href="https://developer.chrome.com/" target="_blank" rel="nofollow"
          ><img src="/chrome-dev-tools.png" alt="ChromeDevTools Logo" /></a
        >
      </li>
      <li>
        <a href="https://satellytes.com" target="_blank" rel="nofollow"
          ><img src="/satellytes.png" alt="Satellytes Logo" /></a
        >
      </li>
      <li>
        <a href="https://innoq.com" target="_blank" rel="nofollow"
          ><img src="/innoq.png" alt="INNOQ Logo" /></a
        >
      </li>
    </ul>
  </section>
</Layout>
